# Python
venv/
.venv/
**/venv/
**/.venv/
__pycache__/
**/__pycache__/
*.py[cod]

# Environment variables and secrets
.env
.env.*
!.env.example

# Databases
*.db
*.sqlite
*.sqlite3

# Node
node_modules/

# Frontend builds
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Archives
*.zip
